#contact {
	padding: 100px;
	grid-template-columns: 1fr 1fr;
	justify-items: start;
	align-items: start;
}

#contact-form {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;

	h1 {grid-column: span 2;}
}

#contact-info {
	h1 {
		margin-bottom: 5px;
		border-bottom: 2px solid #ddd;
	}
	p {
		margin-bottom: 15px;
	}

	.social {
		margin-top: 50px;
	}
}

#message-box {
	grid-column: span 2;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	width: 100%;
}

textarea {
	width: 100%;
}

input, textarea {
	box-sizing: border-box;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	color: #444;
	padding: 5px 10px;
	border: none;
	border-bottom: 1px solid $purple;
	background-color: rgb(228, 228, 230);

	&:focus {
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	}
}

textarea {
	height: 250px;
}

select, option {
	box-sizing: border-box;
	width: 100%;
	font-family: 'Lato', sans-serif;
	color: #444;
	border: none;
	padding: 5px 10px;
	font-size: 0.75rem;
	background-color: rgb(228, 228, 230);
}

#send {
	border: none;
	background-color: $link;
	cursor: pointer;
	padding: 5px;

	&:hover {
		background-color: purple;
		color: $offWhite;
	}
}