@import 'reset';
@import 'patterns';

$link: #59ABE3;
$orange: #FFB61E;
$purple: #BF55EC;
$offWhite: #ebebeb;

html {
    font-size: 20px;
    background-color: $offWhite;
    font-family: 'Lato', sans-serif;
    color: #444;
}

header, section, footer {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

a {
    color: $link;
    text-decoration: none;
    transition: 0.1s all;

    &:hover {
        color: $orange;
        transition: 0.1s all;
    }
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: rgb(65, 73, 82);
    margin-bottom: 35px;
}

header {
    padding-bottom: 170px;
    padding-top: 15px;
    border-bottom: 7px solid $orange;

    h1 {
        font-size: 2rem;
        color: $offWhite;
        margin-bottom: 0;
    }
    p {
        font-size: 1.4rem;
        color: $offWhite;
    }
}

nav {
    margin-bottom: calc(170px - 1rem); // Match with header padding-bottom
    display: flex;
}

#home {
    flex: 1;
    font-weight: bold;
}

.right-link {
    margin-left: 15px;
}

#portfolio-link {
    color: $purple;
    transition: 0.1s all;
    &:hover {
        color: $link;
        transition: 0.1s all;
    }
}

#contact-link {
    color: $orange;
    transition: 0.1s all;
    &:hover {
        color: $link;
        transition: 0.1s all;
    }
}

ul {
    svg {
        vertical-align: sub;
        margin-right: 15px;
        fill: $orange;
    }
}

section {
    padding: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7%;
    align-items: center;
    border-bottom: 1px dashed #aaa;

    h1 {
        font-size: 1.5rem;
    }
}

.benefits {
    grid-column: span 2;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    }
}

.benefits-pic {
    img {
        width: 100%;
    }
}

.next-links {
    grid-column: span 2;
}

.bottom-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.button {
    display: inline-block;
    padding: 20px;
    text-align: center;
    color: $offWhite;
    letter-spacing: 0.18rem;
    transition: 0.1s all;

    &:hover {
        color: $offWhite;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        transition: 0.1s all;
    }
}
#port {
    background-color: $purple;
    transition: 0.1s all;
    &:hover {
        background-color: $link;
        transition: 0.1s all;
    }
}
#cont {
    background-color: $orange;
    transition: 0.1s all;
    &:hover {
        background-color: $link;
        transition: 0.1s all;
    }
}

.social {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 15px;
    max-width: 175px;
    img {
        width: 100%;
        transition: 0.1s all;
    }
    img:hover {
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
        transition: 0.1s all;
    }
}

footer {
    background-color: #555;
    color: $offWhite;
    padding: 30px;
}