@import 'reset';
@import 'patterns';

$link: #59ABE3;
$accent: #049372;
$offWhite: rgb(197, 211, 216);

html {
    font-size: 20px;
    background-color: #ebebeb;
    font-family: 'Lato', sans-serif;
    color: #444;
}

header, section, footer {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

a {
    color: $link;
    text-decoration: none;

    &:hover {
        color: $accent;
    }
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: rgb(65, 73, 82);
}

header {
    padding-bottom: 170px;
    padding-top: 15px;
    border-bottom: 7px solid $accent;

    h1 {
        font-size: 2rem;
        color: $offWhite;
    }
    p {
        font-size: 1.4rem;
        color: $offWhite;
    }
}

nav {
    margin-bottom: calc(170px - 1rem); // Match with header padding-bottom
    display: flex;

    #home {
        flex: 1;
    }

    .right-link {
        margin-left: 15px;
    }
}

ul {
    svg {
        vertical-align: sub;
        margin-right: 15px;
        fill: $accent;
    }
}

section {
    padding: 175px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7%;
    align-items: center;
    border-bottom: 1px dashed #aaa;

    h1 {
        font-size: 1.5rem;
    }
}

.benefits {
    grid-column: span 2;
    h1 { margin-bottom: 35px; }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
    }
}

.benefits-pic {
    img {
        width: 100%;
    }
}

footer {
    background-color: #555;
    color: $offWhite;
    padding: 30px;
}