extends layout.pug

block header
  h1 Lets chat!
  p Interested? Get in touch!

block content
  section#contact
    form#contact-form(name='contact', method='POST', netlify-honeypot='bot-field', netlify='')
      div
        label(for='email') Email
        input#email(type='email', name='email', required='')
      div
        label(for='subject') Subject
        input#subject(type='text', name='subject', required='')
      #message-box
        label(for='message') Message
        textarea#message(name='message ', required='')
      div
        // label for="budget">Budget</label
        select(name='budget', required='')
          option(value='') --Choose a Budget--
          option(value='no idea') No idea
          option(value='more info') Need more info
          option(value='200 to 500') $200 - $500
          option(value='500 to 1000') $500 - $1000
          option(value='1000 plus') $1000+
      .hpot
        label(for='bot-field')
          | Don't fill this out if you're human!
          input(type='text', name='bot-field')
      input#send.button(type='submit', value='Send')
    #contact-info
      h1 Let's make a website.
      p
        | I'll get back to you promptly to discuss the next steps. Let's work
        | together to make your online image the best it can be.
      a(href='mailto:ashleypjohns@gmail.com') ashleypjohns@gmail.com
      .social
        a(href='https://github.com/APJohns')
          img(src='media/social/GitHub.png', alt='github logo')
        a(href='https://codepen.io/AshJohns')
          img(src='media/social/Codepen.png', alt='codepen logo')
        a(href='https://www.linkedin.com/in/ashley-p-johns')
          img(src='media/social/LinkedIn.png', alt='linkedin logo')
        a(href='https://twitter.com/AshPJohns')
          img(src='media/social/Twitter.png', alt='twitter logo')
