extends layout.pug

include mixins/_mainSite.pug
include mixins/_microProject.pug

block header
  h1 Here's some of my work.
  p Developed using the latest standards to work on any device.

block content
  div#main
    +mainSite({
      name: "Convo / Coffee",
      desc: "A basic chat application built using React and Firebase. Built to better understand syncing state to Firebase and general React concepts. Create/join a room, choose your name, and get chatting!",
      tech: ["HTML", "CSS", "Javascript", "React", "Sass", "Firebase"],
      image: "./media/sites/convo.png",
      link: "https://convo.netlify.com/",
      code: "https://github.com/APJohns/devChat"
    })
    +mainSite({
      name: "Message in a Bottle",
      desc: "I was listening to \"Message in a Bottle\" by The Police on my way home when I was given the idea for this project. It's like an internet version of putting a message in a bottle. Users can send out messages, and when they open a message it gets removed from the list of messages so only they get to see it. The project was built to improve my animation/design skills.",
      tech: ["HTML", "CSS", "Javascript", "React", "Sass", "Firebase"],
      image: "./media/sites/bottle.png",
      link: "https://message-in-a-bottle.netlify.com/",
      code: "https://github.com/APJohns/message-in-a-bottle"
    })
    +mainSite({
      name: "Sick Resolutions",
      desc: "This site was my first project using React away from a tutorial. You begin by creating a list, you then log in to claim it if it hasn't been claimed already. You can then add and delete resolutions from your list. There are simple animations for removing and adding items. It also includes a timer to the new year. This project solidified my grasp on the basics of modern React.",
      tech: ["HTML", "CSS", "Javascript", "React", "Sass", "Firebase"],
      image: "./media/sites/resolutions.png",
      link: "https://sickresolutions.com/",
      code: "https://github.com/APJohns/resolutions"
    })
    +mainSite({
      name: "SnacksNearU",
      desc: "Not sure what's around to eat? Looking for a nearby spot to grab a drink? SnacksNearU uses the Yelp API to find search results of food locations near you. The site allows you to set your radius, only show open locations, and sort by different variables. The site shows you one result at a time, avoiding overwhelming lists.",
      tech: ["HTML", "CSS", "Javascript", "Node.JS / Express", "Sass", "Gulp", "Yelp API"],
      image: "./media/sites/snacks.png",
      link: "https://snacksnearu.herokuapp.com",
      code: "https://github.com/APJohns/SnacksNearU"
    })
    +mainSite({
      name: "This Portfolio",
      desc: "My portfolio itself showcases my design skills. Developed using the latest design and development practices to showcase my work and let you get in touch with me.",
      tech: ["HTML", "CSS", "Javascript", "Sass"],
      image: "./media/sites/portfolio.png",
      link: "/",
      code: "https://github.com/APJohns/Portfolio"
    })
    +mainSite({
      name: "Todo List",
      desc: "This todo list was my first project using node.js. It was a way to get my feet wet with backend work. It is a simple web app, anyone can add or remove entries on the todo list, and the todo list is the same for everyone who views it. All the data is stored on a monogoDB database hosted by mLab.",
      tech: ["HTML", "CSS", "Javascript", "Node.JS / Express"],
      image: "./media/sites/todo.png",
      link: "http://todo-aj.herokuapp.com/",
      code: "https://github.com/APJohns/todo"
    })
    +mainSite({
      name: "Kathy Barry Piano",
      desc: "A client project I did for a local piano teacher. This was my first client site. It consists of a unique navigation menu, and all the information for the business.",
      tech: ["HTML", "CSS", "Javascript"],
      image: "./media/sites/piano.png",
      link: "http://kathybarrypiano.com/",
      code: "https://github.com/APJohns/KathyBarryPiano"
    })
  h2.pad Micro-Projects
  p(style='font-size: 1rem;').pad Check out my
    a(href="https://codepen.io/AshJohns") &nbsp;Codepen
    | &nbsp;for more. Or dive into my
    a(href="https://github.com/APJohns") &nbsp;Github
    | &nbsp; to see the code.
  aside#mini-projects
    +microProject({
      name: "whereISS",
      tech: ["HTML", "CSS", "Javascript", "Fetch", "APIs", "Async/Await"],
      image: "./media/sites/iss.png",
      link: "https://apjohns.github.io/whereISS/"
    })
    +microProject({
      name: "Solar System",
      tech: ["HTML", "CSS", "Javascript", "Gulp"],
      image: "./media/sites/solar.png",
      link: "https://thenextfrontier.netlify.com/"
    })
    +microProject({
      name: "Audio Visualizer",
      tech: ["HTML", "CSS", "Javascript", "Canvas API", "Web Audio API"],
      image: "./media/sites/audio.png",
      link: "https://apjohns.github.io/audio-visualizer/"
    })
    +microProject({
      name: "Local Notes",
      tech: ["HTML", "CSS", "Javascript", "LocalStorage", "Sass", "Gulp"],
      image: "./media/sites/local-notes.png",
      link: "https://local-note.netlify.com/"
    })
    +microProject({
      name: "Red Dust",
      tech: ["HTML", "CSS", "Javascript"],
      image: "./media/sites/dust.png",
      link: "https://apjohns.github.io/redDust/"
    })
    +microProject({
      name: "Morse",
      tech: ["HTML", "CSS", "Javascript"],
      image: "./media/sites/morse.png",
      link: "https://apjohns.github.io/morseTranslator/"
    })
    +microProject({
      name: "Calculator",
      tech: ["HTML", "CSS", "Javascript"],
      image: "./media/sites/calculator.png",
      link: "https://apjohns.github.io/JSCalculator/"
    })
    //p.cpen See more at my codepen
  h2.pad Relevant Courses
  p.pad(style='font-size: 1rem;')
    | These are proejcts I have completed through tutorials and courses
    | including&nbsp;
    a(href='https://wesbos.com/courses/') Wes Bos
    |  and&nbsp;
    a(href='https://www.leveluptutorials.com/') Level Up Tutorials
  aside#mini-projects
    +microProject({
      name: "Wes Bos | Catch of the Day",
      tech: ["HTML", "CSS", "Javascript", "React", "Firebase"],
      image: "./media/sites/catch.png",
      link: "https://catch-of-the-day-ash.netlify.com/"
    })
    +microProject({
      name: "Level Up Tuts | MovieDB",
      tech: ["HTML", "CSS", "Javascript", "React", "TMDb API"],
      image: "./media/sites/moviedb.png",
      link: "https://lumdb-aj.netlify.com/"
    })
