extends ../components/layout.pug

include ../components/header.pug
include ../components/card.pug

block head
  link(rel='stylesheet' href='project.scss')

block header
  +header('Epsilon', 'Blueprint')

block main
  section.py-5
    .container
      .row
        .col-md-7
          p
            | At Epsilon, I developed an Angular component library called Blueprint from concept to production. Ensured all components were Web Content Accessibility Guidelines (WCAG) compliant.
          ul(aria-label='Tech stack').tech-stack
            li HTML
            li CSS
            li Javascript
            li Angular
            li Sass
            li npm
          a(href='https://epsilon-blueprint.netlify.app') View Website
        .col-md-5.pt-4.pt-md-0
          img.screenshot(src='/../images/blueprint.png' alt='Blueprint')
