extends ../components/layout.pug

include ../components/header.pug
include ../components/card.pug

block header
  +header('Epsilon', 'Blueprint')

block main
  section.py-5
    .container
      .row
        .col-md-7
          .mb-4
            p
              | The primary project I worked on at Epsilon was an Angular component library called Blueprint. Blueprint was built with UX and Accessibility at the core, meeting Web Content Accessibility Guidelines (WCAG). It improved the consistency and user experience of the Epsilon products, and cut down on development time.
            p
              | We were a small team consisting of two designers and two developers. My initial task was to figure out how to deliver Blueprint to Epsilon's products. The solution was to create an NPM package built on an Angular library. Once this was complete my focus moved to building out new components, enhancing existing components based on feedback, maintaining documentation, and supporting products with any front end issues.
          ul(aria-label='Tech stack').tags.mb-4
            li HTML
            li CSS
            li Sass
            li Javascript
            li Typescript
            li Angular
            li Bootstrap
            li Gulp
            li npm
          .mb-1
            a(href='https://epsilon-blueprint.netlify.app') View Website
          .mb-1
            a(href='https://github.com/epsilon-ux/blueprint-ui') View Code
        .col-md-5.pt-4.pt-md-0
          img.screenshot(src='/../images/blueprint.png' alt='Blueprint')
