extends ../components/layout.pug

include ../components/header.pug
include ../components/panel.pug

block header
  +header('Mini Projects', '')

block main
  section.py-5
    .container
      .row
        .col-lg-6.mb-4
          +panel(
            'WhereISS',
            ['HTML', 'CSS','Javascript', 'Fetch API', 'Geolocation API', 'Leaflet'],
            'Tech stack',
            'https://apjohns.github.io/whereISS/',
            'https://github.com/APJohns/whereISS',
            '/../images/whereISS-icon.png'
          )
        .col-lg-6.mb-4
          +panel(
            'Solar System',
            ['HTML', 'CSS','Javascript', 'Gulp'],
            'Tech stack',
            'https://thenextfrontier.netlify.app/',
            'https://github.com/APJohns/solar-system',
            '/../images/solar-system-icon.png'
          )
        .col-lg-6.mb-4
          +panel(
            'Convo / Coffee',
            ['HTML', 'CSS','Javascript', 'React', 'Sass', 'Firebase'],
            'Tech stack',
            'https://convo.netlify.com/',
            'https://github.com/APJohns/devChat',
            '/../images/convo-icon.png'
          )