extends ../components/layout.pug

include ../components/header.pug
include ../components/card.pug

block head
  link(rel='stylesheet' href='project.scss')

block header
  +header('WhereISS', 'Mini-Project')

block main
  section.py-5
    .container
      .row
        .col-md-7
          p
            | Tracks the Internationl Space Station (ISS) relative to earth. Pulls the data from an API and renders it using Leaflet. The user then has the ability to get the flyover time for their location. This utilizes the Geolocation API. The current astronauts in space are also listed.
          ul(aria-label='Tech stack').tech-stack
            li HTML
            li CSS
            li Javascript
            li Fetch API
            li Geolocation API
            li Leaflet
          a(href='https://apjohns.github.io/whereISS/').d-block.mb-1 View Website
          a(href='https://github.com/APJohns/whereISS').d-block View Code
        .col-md-5.pt-4.pt-md-0
          img.screenshot(src='/../images/whereISS-icon.png' alt='whereISS')
