:root {
  --font-color-primary: #{$midnight};
  --font-color-primary-inverse: #{$coconut};

  --background-primary : #{$coconut};

  --font-color-header: #{$coconut};
  --header-background-from: #{$royal40};
  --header-background-to: #{$royal};
}
