@mixin theme-light {
  --font-color-primary: #{$midnight};
  --font-color-primary-inverse: #{$coconut};

  --background-primary : #{$coconut};
  --background-secondary : #{$slate};

  --border-color-primary: #{$slate25};

  --font-color-header: #{$coconut};
  --header-background-from: #{$royal40};
  --header-background-to: #{$royal};
}
