@mixin theme-dark {
  --font-color-primary: #{$coconut};
  --font-color-primary-inverse: #{$midnight};
  --font-color-secondary: #{$slate};

  --link-color: #{$marine70};
  --link-color-hover: #{$marine60};

  --background-primary : #{$midnight};
  --background-secondary: #{$slate25};

  --border-color-primary: #{$slate};
}