@mixin theme-light {
  --font-color-primary: #{$midnight};
  --font-color-primary-inverse: #{$coconut};
  --font-color-secondary: #{$slate40};

  --link-color: #{$marine};
  --link-color-hover: #{$marine40};

  --background-primary : #{$coconut};
  --background-secondary : #{$slate};

  --border-color-primary: #{$slate25};

  --font-color-header: #{$coconut};
  --header-background-from: #{$navyDark};
  --header-background-to: #{$navyLight};
}
