// Colors
$midnight: #222;
$coconut: #fff;
$royal: hsl(257, 63%, 50%);
$royal40: hsl(257, 63%, 40%);
$slate: hsl(225, 29%, 95%);
$slate25: hsl(225, 29%, 25%);

$font-weight-regular: 400;
$font-weight-semi-bold: 500;

$font-size-h2: 1.5rem;
$font-size-h3: 1.2rem;