// Colors
$midnight: hsl(219, 14%, 14%);
$coconut: #fff;
$royal: hsl(257, 63%, 55%);
$royal40: hsl(257, 63%, 40%);
$slate: hsl(219, 29%, 95%);
$slate25: hsl(219, 29%, 25%);
$slate40: hsl(219, 29%, 40%);
$marine: hsl(219, 98%, 52%);
$marine40: hsl(219, 98%, 42%);
$marine60: hsl(219, 98%, 60%);
$marine70: hsl(219, 98%, 70%);

$navyLight: hsl(219, 76%, 54%);
$navy: hsl(219, 76%, 45%);
$navyDark: hsl(219, 76%, 35%);
$navyDarkest: hsl(219, 76%, 30%);
$clementine: #ff932f;
$slate: #d5d7dd;

$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$font-size-h2: 1.5rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1rem;

$font-size-small: 0.82rem;

$focus-outline: 2px solid $marine;