// Colors
$midnight: rgb(35, 31, 41);
$coconut: #fff;
$royal: hsl(257, 63%, 50%);
$royal40: hsl(257, 63%, 40%);
$slate: hsl(225, 29%, 95%);
$slate25: hsl(225, 29%, 25%);
$slate40: hsl(225, 29%, 40%);

$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$font-size-h2: 1.5rem;
$font-size-h3: 1.2rem;
$font-size-h4: 1rem;