.card {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  background: var(--background-primary);
  box-shadow: 0 40px 40px -20px rgba(0, 0, 0, 0.15);

  .card-header {
    padding: 24px 12px 0px;
    text-align: center;
  }

  .card-title {
    color: var(--font-color-primary);
  }

  .card-sub-title {
    color: var(--font-color-secondary);
    font-weight: $font-weight-regular;
    text-decoration: none;
  }

  .card-image {
    width: 100%;
  }
}
