.site-header {
  color: var(--font-color-header);
  background: linear-gradient(45deg, var(--header-background-from), var(--header-background-to));

  .hero-image {
    display: block;
    width: 100%;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--font-color-header);
  }
}

.theme-toggle{
  input[type="checkbox"] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;

    &:checked + label::before {
      transform: translateX(100%);
    }
  }

  label {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    border-radius: 20px;
    width: 40px;
    height: 20px;
    color: black;
    background: black;

    svg {
      width: 15px;
      z-index: 100;
    }
  }

  label::before {
    content: '';
    position: absolute;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: white;
    transition: 0.05s ease-out;
  }
}
