.site-header {
  color: var(--font-color-header);
  background: linear-gradient(45deg, var(--header-background-from), var(--header-background-to));

  .hero-image {
    display: block;
    width: 100%;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--font-color-header);
  }
}
