body {
  font-family: 'Fira Sans', sans-serif;
  color: var(--font-color-primary);
}

h2,
.visual-h2 {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-h2;
}

h3,
.visual-h3 {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-h3;
}

h4,
.visual-h4 {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-h4;
}

.icon-link {
  display: block;
  color: var(--font-color-primary);
  text-decoration: none;

  svg {
    margin-right: 5px;
    height: 1rem;
    color: var(--font-color-primary);
  }
}

a {
  color: var(--link-color);

  &:hover,
  &:focus {
    color: var(--link-color-hover);
  }
}

.link-icon {
  display: flex;
  align-items: center;

  svg {
    height: 1em;
    margin-right: 4px;
  }
}