.u-bg-primary {
  background: var(--background-primary);
}
.u-bg-secondary {
  background: var(--background-secondary);
}

.u-border-bottom-primary {
  border-bottom: 1px solid var(--border-color-primary);
}