extends ./components/layout.pug

include ./components/header.pug
include ./components/card.pug

block head
  link(rel='stylesheet' href='index.scss')

block header
  +header('UX / Front End Developer', '', '/../images/hero.svg')

block main
  section#about.about.py-5
    .container
      .row.my-5
        .col-md-8
          h2.visual-h3 What I do
          p
            | Hi! I got an Informatics degree from UMass Amherst, and have been working at Epsilon as a UX Developer since. When I'm not coding you can usually find me playing the piano/guitar, exploring Boston, attempting to learn to cook, hanging out with friends and family, or staring through the eyepiece of a telescope.
        .col-md-4
          h2.visual-h3 Contact Me
          .row.mb-3
            .col
              p.mb-0 Looking for a developer, or need a website? Shoot me an email!
              a(href='mailto:mail@ashpjohns.com') mail@ashpjohns.com
          .row
            .col-auto
              a(href='https://github.com/APJohns').icon-link
                span(aria-hidden='true')
                  include components/svgs/github.svg
                | GitHub
            .col-auto
              a(href='https://codepen.io/AshJohns').icon-link
                span(aria-hidden='true')
                  include components/svgs/codepen.svg
                | CodePen
            .col-auto
              a(href='https://www.linkedin.com/in/ashley-p-johns').icon-link
                span(aria-hidden='true')
                  include components/svgs/linkedin.svg
                | LinkedIn
  section#portfolio.portfolio.pb-5
    .section-heading.mb-5
      .container
        .row
          .col
            h2 My Work
    .container
      ul.row.card-list
        li.col-3.mb-5
          +card(
            'Epsilon',
            'Blueprint',
            '/../images/blueprint-icon.png',
            '/projects/blueprint.pug'
          )
        li.col-3.mb-5
          +card(
            'Mini Projects',
            'Misc.',
            '/../images/mini-projects-icon.png',
            '/projects/mini-projects.pug'
          )