#main {
  border-bottom: 1px dashed #aaa;
}

#main article {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5%;
  align-items: center;

  &:not(:last-child)::after {
    border-bottom: 2px solid #ddd;
    display: block;
    content: "";
    width: 75%;
    margin: 25px auto;
    grid-column-start: span 2;

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }

  h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  p {
    line-height: 1.5rem;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    min-width: 250px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    transition: 0.3s all ease-out;

    &:hover {
      filter: grayscale(80%);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
      transition: 0.3s all ease-out;
    }
  }

  .button {
    background-color: $link;

    &:hover {
      background-color: $dark;
    }
  }

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 50px;
  }
}

.tech-group {
  display: flex;
  flex-wrap: wrap;
}

.tech {
  font-size: 0.75rem;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $purple;
  color: $offWhite;
  padding: 4px 10px;
  border-left: 4px solid $orange;
}

#mini-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 50px;
  border-bottom: 1px dashed #aaa;

  .mini {
    display: block;
    padding: 0;
    width: 100%;
  }

  a {
    display: block;
    position: relative;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  }

  h3 {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    background-color: $dark;
    padding: 2px 15px;
    margin-bottom: 15px;
  }

  img {
    width: 100%;
    filter: grayscale(75%);
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
  }

  @media screen and (max-width: 1500px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.pad {
  margin-top: 30px;
  font-size: 1.5rem;
}

.cpen {
  text-align: right;
  grid-column: span 3;
}
